.axit {
  padding: 100px 0;
  background-image: url("../img/bg/background_axit.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.row__text{
  margin: 0 15px;
}

.axit::after {
  content: "";
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.axit__span {
  display: block;
  font-size: 60px;
  margin-bottom: 45px;
}

.axit__span::after {
  font-size: 60px;
}

.axit__text {
  width: 294px;
  margin-bottom: 35px;
}

.axit__text p {
  color: white;
}

.axit_form {
  width: 370px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 0 15px;
}

.axit_form h2 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 50px;
}

.axit_form span {
  text-transform: uppercase;
  color: #ec7979;
  font-weight: 700;
}

.axit_form input {
  display: block;
  border: 1px solid #bdbdbd;
  border-right: none;
  border-left: none;
  border-top: none;
  width: 100%;
  outline: none;
}

.form__content {
  padding: 11px 60px 50px 60px;
}

.form__item{
  margin-bottom: 19px;
}

.form__item label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}

.axit_form__button button {
  width: 100%;
  height: 54px;
  background: #ec7979;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  border: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.axit_form__button button:hover {
  background-color: #f8f5f5;
  color: #ec7979;
  box-shadow: 0 0 15px rgba(173, 26, 129, 0.158);
  border: none;
}
