.contact {
  padding: 80px 0 44px 0;
}

.form_input {
  display: block;
  width: 470px;
  padding: 32px 0;
  border: 1px solid #bdbdbd;
  border-right: none;
  border-left: none;
  border-top: none;
}

form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.form_input {
  font-family: "Open Sans";
  font-size: 14px;
  color: #bdbdbd;
}

textarea {
  width: 470px;
  font-size: 14px;
  border: 1px solid #bdbdbd;
  border-right: none;
  border-left: none;
  border-top: none;
  color: #bdbdbd;
  font-family: "Open Sans";
  resize: none;
}
