.design {
  padding: 58px 0 38px 0;
  background: url("../img/bg/backg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* z-index для того, чтобы поднять текст поверх фона*/
  z-index: 2;
}

.design::after {
  content: "";
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.design_text {
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 53px;
}

.link{
  transition: 1s;
}

.link:hover{
  transform: scale(0.95);
  box-shadow: inset 0px 0px 25px rgba(19, 16, 16, 0.55);
  border-color: rgb(54, 53, 53);
}





