.form__contact {
  padding: 80px 0 44px 0;
}

.contact__form_content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -15px;
  margin-bottom: 68px;
}

.contact__form-right label, .contact__form-left label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #bdbdbd;
}

.form__contact-item input{
  margin-bottom: 49px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #BDBDBD;
  width: 100%;
  display: block;
}

.form__contact-item:last-child{
  margin-bottom: 0;
}

.form__textarea textarea{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #BDBDBD;
  resize: none;
  width: 100%;
  line-height: 121px;
  outline: none;
}


.contact__form-right, .contact__form-left{
  width: 40%;
  margin: 0 15px;
}

.form__button button {
  display: block;
  margin: auto;
  background: #ec7979;
  width: 166px;
  height: 42px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid #ffffff;
  font-family: "Open Sans";
  transition: 1.02s;
}

.form__button button:hover {
  transform: scale(0.98);
  border-color: #f8cfcf;
  background-color: #f0b5b5;
}

.form__contact-item input[type="text"]{
  padding-bottom: 15px;
}

.form__contact-item input[type="email"]{
  padding-bottom: 15px;
}

.form__contact-item input[type="password"]{
  padding-bottom: 15px;
}

