.header {
  padding: 20px 0;
  background-color: #000000;
}
.wrapper_navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}
.list__item {
  margin-right: 41px;
}
.list__item a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 3px solid #0c0c0c;
  transition: 0.5s;
}
.list__item a:hover {
  border-bottom: 3px solid #ecbbbb;
  color: #4b4649;
}
.list__item:last-child {
  margin-right: 0;
}
.nav_span {
  color: white;
  font-weight: 400;
  font-size: 30px;
  font-family: "Raleway";
  text-transform: uppercase;
  margin: 0 15px;
}
.nav_span::after {
  content: "it";
  color: #ec7979;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  font-family: "Raleway";
}
