@import url("../style/awesome.css");
@import url("../cdn/cdn.css");
@import url("../style/pricing.css");
@import url("../style/saying.css");
@import url("../style/design.css");
@import url("../style/tabs.css");
@import url("../style/header.css");
@import url("../style/social.css");
@import url("../style/footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: "Open Sans", "Raleway", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  /* 2-ой способ, чтобы поднять текст наверх */
  /* position: relative;
  z-index: 5; */
}

.text p {
  font-weight: 400;
  font-size: 14px;
  color: #86878b;
  text-align: center;
  line-height: 19px;
}

.title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 34px;
  color: #212121;
}
.title::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background-color: #e72424;
  margin: 0 auto;
  margin-top: 34px;
}

.title:hover{
 transform: scale(1);
 transition: 0.4s;
 color:#a39898;
}

.title_white {
  color: white;
}

.title_white::after {
  background-color: #ffffff;
}

.link {
  width: 135px;
  height: 42px;
  border: 1px solid #ffffff;
  text-align: center;
  margin: auto;
  padding: 6px 0;
}

.link a {
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.link:hover {
  cursor: pointer;
}

.tabs__link {
  background: #ec7979;
  /* уточнить про это св-во */
  /* margin: initial; */
  margin-left: 0;
}

.contact__link{
  background: #ec7979;
}


