.pricing {
  background: #f5f5f5;
  padding: 80px 0 59px 0;
}

.pricing__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px; 
}

.pricing__ul{
  margin: 0 15px; 
  width: 340px;
}

.pricing__ul:hover{
  box-shadow: 0px 0px 30px 0px rgb(104, 101, 101);
  transform: translate(5px, -5px);
  transition: 1s;
}

.pricing__text {
  margin-bottom: 62px;
}

.item_black {
  background: #333333;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  padding: 11px 0;
  margin-bottom: 1px;
  text-align: center;
}

.more_height {
  padding: 26px 0;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

.item_black a {
  color: #ffffff;
}

.size_min a {
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.item_white  {
  background-color: #fff;
  margin-top: 2px;
  text-align: center;
  padding: 6px;
}

.item_white a{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #86878b;
}

span{
  font-family: 'Open Sans';
}

