.content__text{
  margin-bottom: 68px;
}

.item{
  width: 350px;
  margin: 0 15px;
} 

.item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 1px solid #e72424;
  border-radius: 50%;
  margin-bottom: 30px;
}

.item_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
} 


.item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.item__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
}
