.tabs {
  padding: 125px 0;
}
.tabs_row {
  margin-right: 4.45rem;
}

.wrapper__tabs {
  display: flex;
  flex-wrap: wrap;
}

.tab {
  width: 112px;
  line-height: 110px;
  background-color: #333333;
  margin-top: 10px;
  text-align: center;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: 1s;
}

.tab:hover {
  background: #ec7979;
}

.row_text {
  width: 579px;
  margin-right: 2.5rem;
}

.tabs_text {
  margin-bottom: 20px;
}

.tabs_text_indent p{
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #86878b;
  line-height: 19px;
  margin-bottom: 45px;
}

.tabs__link {
  background: #ec7979;
  margin-left: 0;
}

.tabs__link a{
  color:#ffffff;
}


.tabs_title {
  margin-bottom: 76px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.112rem;
  line-height: 27px;
}

.tab:first-child {
  margin-top: 0;
}

.tabs_image {
  width: 320px;
  height: 253px;
}

.tabs_image img{
  width: 100%
}